@import "normalize";

$warning: #E46C0A;
$error: #E4210A;

*, *:before, *:after {
	box-sizing: border-box;
}

body {
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    color: #2c3e50;
}

.form-item {
	padding: 0 1em 1em;
	position: relative;
	clear: both;
	overflow: auto;
}

.form-item:before, .form-item:after {
	clear: both;
}

.form-item.success {
	text-align: center;
}

div#login-form, div#send-email-form {
	width: 20rem;
	margin: 0 auto;

	h2 {
		text-align: center;
	}

	ul.errors, div.info {
		padding: 0 1em 1em;
		text-align: center;
	}

	ul.errors {
		color: $error;
		list-style: none;
		li {
			margin: 0;
			padding: 0;
		}
	}

	button.submit {
		float: right;
	}
}

div#send-email-form {
	position: relative;
}

label {
	display: block;
	padding: 0.2em 0;
}

input[type="text"], 
input[type="email"],
input[type="password"] {
	width: 100%;
	display: block;
	padding: 0.5em;

}

.button {
    display: inline-block;
    padding: 6px 11px;
    margin-bottom: 0;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    letter-spacing: 0.5px;
}

.button-sm {
    padding: 5px 12px;
    font-size: 12px;
}

.button-green {
    background-color: #0F72DA;
    color: #fff;
}

.button-blue {
    background-color: #2c3e50;
    color: #fff;
}

.button-clear {
    background-color: inherit;
    border: none;
}

.cover {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #efefef;

}