<div id="login-form">
	<h2>Login</h2>
    <div class="error" ng-bind="error"></div>
    <form action="">
    	<div class="form-item">
	        <label for="email">Email: </label>
	        <input type="email" name="email" ng-model="credentials.email">
        </div>
        <div class="form-item">
	        <label for="password">Password: </label>
	        <input type="password" name="password" ng-model="credentials.password">
        </div>
        <div class="form-item">
	        <button class="button button-green" ng-click="login()">Login</button>
	        <button class="button button-clear" ng-click="forgot()">Forgot Password</button>
        </div>
    </form>
</div>
