<div id="send-email-form">
	<div class="cover" ng-show="submitted">
		<div class="spinner" ng-show="!success">Loading...</div>
		<div class="success" ng-show="success">
			<span class="done" style="font-size: 1.2rem;">Success!</span> <br>
		    <button class="button button-blue" ng-click="reset()">Start Again</button>
	    </div>
	</div>
	<h2>Send Email</h2>
	<ul class="errors">
		<li class="error-item" ng-repeat="error in errors" ng-bind="error.human_message"></li>
	</ul>
	<div class="info">All items are required.</div>
	<form>
		<div class="form-item">
	    	<label for="email">Contact Email</label>
	    	<input type="email" name="email" id="email" placeholder="hello@example.com" ng-model="details.email">
	    </div>
	    <div class="form-item">
	            <label for="parents-name">Parent's Name:</label>
	            <input type="text" name="parents-name" placeholder="Bob and Jane" ng-model="details.parentsName">
	    </div>
	    <div class="form-item">
	            <label for="childs-name">Childs's Name:</label>
	            <input type="text" name="childs-name" placeholder="Christopher" ng-model="details.childsName">
	    </div>
	    <div class="form-item">
	            <label for="first-date">1st Appt Date</label>
	            <input type="text" class="date" name="first-date" id="first-date" placeholder="25/10/2014" ng-model="details.firstDate">
		</div>
		<div class="form-item">
	        <label for="second-date">1st Appt Time</label>
	        <input type="text" class="time" name="first-time" id="first-time" placeholder="11am" ng-model="details.firstTime">
	    </div>
	    <div class="form-item">
	        <label for="second-date">2nd Appt Date</label>
	        <input type="text" class="date" name="second-date" id="second-date" placeholder="25/12/2014" ng-model="details.secondDate">
	    </div>
	    <div class="form-item">
	        <label for="second-date">2nd Appt Time</label>
	        <input type="text" class="time" name="second-time" id="second-time" placeholder="10am" ng-model="details.secondTime">
	    </div>
	    <div class="form-item">
	        <button class="submit button button-green" ng-click="send()">Send</button>
	    </div>
	</form>
</div>