<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">    <!-- So that mobile webkit will display zoomed in -->
    <meta name="format-detection" content="telephone=no"> <!-- disable auto telephone linking in iOS -->

    <title>Antwort - responsive Email Layout</title>
    <style type="text/css">

        /* Resets: see reset.css for details */
        .ReadMsgBody { width: 100%; background-color: #ebebeb;}
        .ExternalClass {width: 100%; background-color: #ebebeb;}
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height:100%;}
        body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
        body {margin:0; padding:0;}
        table {border-spacing:0;}
        table td {border-collapse:collapse;}
        .yshortcuts a {border-bottom: none !important;}


        /* Constrain email width for small screens */
        @media screen and (max-width: 600px) {
            table[class="container"] {
                width: 95% !important;
            }
        }

        /* Give content more room on mobile */
        @media screen and (max-width: 480px) {
            td[class="container-padding"] {
                padding-left: 12px !important;
                padding-right: 12px !important;
            }
        }

    </style>
</head>
<body style="margin:0; padding:10px 0;" bgcolor="#ebebeb" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

    <br>

    <!-- 100% wrapper (grey background) -->
    <table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="#ebebeb">
      <tr>
        <td align="center" valign="top" bgcolor="#ebebeb" style="background-color: #ebebeb;">

          <!-- 600px container (white background) -->
          <table border="0" width="600" cellpadding="0" cellspacing="0" class="container" bgcolor="#ffffff">
            <tr>
              <td class="container-padding" bgcolor="#ffffff" style="background-color: #ffffff; padding-left: 30px; padding-right: 30px; font-size: 14px; line-height: 20px; font-family: Helvetica, sans-serif; color: #333;">
                <br>

                <!-- ### BEGIN CONTENT ### -->
                <div style="font-weight: bold; font-size: 18px; line-height: 24px; color: #D03C0F">
                    <img src="https://sewca.files.wordpress.com/2014/09/logo.jpg" style="width: 100%;" alt="Social &amp; Emotional Wellbeing for Children &amp; Adolescents (SEWCA)">
                </div><br><br>
                <div style="text-align: center; font-weight: bold;">***** Please confirm receipt of this email. *****</div>
                <br>
                Dear {{.ParentsName}},
                <br><br>

                Thank you for contacting our clinic.
                <br><br>

                Your first appointment on <strong>{{.FirstAppointmentDate}} at {{.FirstAppointmentTime}}</strong> is for you (and another relevant adult if available) to provide the background history on your young person.
                <br><br>
                Please bring:

                <ul>
                    <li>Your referral letter(s)</li>
                    <li>A print out of the completed background information questionnaire (attached to this email)</li>
                    <li>Available psychological/speech therapy assessments</li>
                    <li>Recent school report card or NAPLAN.</li>
                </ul>

                <br>
                Your second appointment on <strong>{{.SecondAppointmentDate}} at {{.SecondAppointmentTime}}</strong> is for {{.ChildsName}} and yourself.
                <br><br>
                The clinic address is 144 Park Road, WOOLLOONGABBA. You will see our blue and white fence. Entry to the clinic is at rear of the building.
                <br><br>
                Please see a map below to help you find the clinic. Best access to Park Road is via Ipswich Road or Annerley Road.
                <br><br>
                Free car parking is provided at the clinic (entrance via Fleurs Street).  We are also situated near the Park Road train station.
                <br><br>
                We have attached the Fee Schedule and provided a link to our Confidentiality and Practice Policies below.
                <br><br>
                Further information is also available on our website: <a href="http://www.socialemotionalwellbeing.com">www.socialemotionalwellbeing.com</a>
                <br><br>
                Should you have any further questions, please phone our clinic on (07) 3391 2323.
                <br><br>
                Yours sincerely,
                <br><br><br>
                Administration <br>
                Social &amp; Emotional Wellbeing for Children &amp; Adolescents (SEWCA)
                <br><br>

                <div>
                    <a href="https://www.google.com.au/maps/place/144+Park+Rd,+Woolloongabba+QLD+4102/@-27.4914365,153.0323629,16z/data=!4m2!3m1!1s0x6b915a6c1d35a9c5:0xd3d32a4ea7a441aa?hl=en"><img src="https://sewca.files.wordpress.com/2014/09/map.png" style="width: 100%;">
                    </a></div>
                    <br>

                    <div style="text-align: center">
                        <a href="http://socialemotionalwellbeing.com/confidentiality-and-practice-policies/">       Confidentiality &amp; Practice Policies
                        </a><br>

                        144 Park Rd Woolloongabba QLD 4102 <br>
                        <a href="mailto:admin@socialemotionalwellbeing.com">admin@socialemotionalwellbeing.com</a> | (07) 3391 2323
                    </div>
                    <br>

                    <!-- ### END CONTENT ### -->

                </td>
            </tr>
        </table>
        <!--/600px container -->

    </td>
</tr>
</table>
<!--/100% wrapper-->
<br>
<br>
</body>
</html>

